/* Agenda */
.agenda {
	header {
		width: 100%;
		margin-bottom: -60px;
	}
	.agendapunt {
		padding: 25px;
		background-color: $zandkleur;
		margin-top: 30px;
		&:last-child {
			margin-bottom: 30px;
		}
		.btn-default {
			margin-bottom: 10px;
		}
		table {
			thead {
				tr {
					th {
						padding: 0 0 5px 0;
						border: none;
						h3 {
							color: $grijs-donker;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						border: none;
						padding: 0 0 5px 0;
					}
				}
			}
			tfoot {
				tr {
					td {
						border: none;
						color: $zeegroen;
						padding: 0;
					}
				}
			}
		}
		@media screen and (max-width: 991px) {
			img {
				margin-bottom: 25px;
			}
		}
	}
	.tekst-blok {
		padding-top: 30px;
		.btn-default {
			margin-top: 10px;
		}
	}
}

.artikel-box {
	background-color: $white;
	padding: 40px;
	margin-bottom: 30px;
	@media screen and (max-width: 767px) {
		padding: 30px;
	}
}

