/* Footer */

.pre-footer {
	background-color: #aaaaaa;
	padding: 25px;
	i {
		font-size: 25px;
		margin-left: 25px;
		text-align: right;
	}
	.social-media {
		float: right;
	}
	p {
		color: $white !important;
		font-size: 14px;
		margin: 0;
	}
}

footer {
	background-color: $grijs-donker;
	padding: 25px;
	color: $white;
	ul {
		font-size: 14px;
		line-height: 26px;
		@media screen and (max-width: 767px) {
			margin: 30px 0 0 0;
		}
		li {

		}
	}
}