/* Global Settings */

body {
	font-family: $primary-font;
	font-size: 16px;
	line-height: 28px;
	padding-top: 50px;
	background-color: $grijs-licht;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $secondary-font;
	margin: 0 0 10px 0;
	color: $zeegroen;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0;
	color: $grijs-medium;
	a {
		color: $zangmakers-rood;
		&:hover {
			color: $grijs-donker;
		}
	}
	&:last-child {
		margin-top: 15px;
	}
}

.rechts {
	text-align: right;
	float: right;
}

b {
	font-weight: 700;
}

table {
	color: $grijs-donker;
}

.lijn {
	border-top: 1px solid $grijs-licht;
}

.alert {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1000;
    position: absolute;
    color: $grijs-donker;
    background-color: $zandkleur;
    border:none;
    margin-top: 30px;
}


