/* Homepage */

body {background: red;}
@media screen and (max-width: 767px) { 
	.homepage {
		margin-top: 30px;
	}
}

.homepage {
	/* Header */
	header {
		width: 100%;
		margin-bottom: -60px;
	}
}
/* Reset geen lijn onder linkjes */

a {
	color: inherit;
	&:hover, &:active, &:visited, &:focus {
		text-decoration: none;
		color: inherit;
	}
}

/* Bovenste box met afbeelding */

.introductie {
	position: relative;
	p {
		padding-top: 0px !important;
	}
	h1 {
		padding: 25px 25px 0 25px;
		color: $zeegroen;
	}
}

.laatste-artikelen {
	.afbeeldingen {
		padding: 25px;
		@media screen and (max-width: 767px) {
			padding-bottom: 0px;
		}
	}
	@media screen and (max-width: 767px) {
		img {
			margin-bottom: 25px;
		}
	}
}

/* Box algemeen */

.box {
	background-color: $white;
	margin: 0 0 30px 0;
	&.padding {
		padding: 25px;
	}
	table {
		margin-top: 25px;
		margin-bottom: 0;
	}
	p {
		padding: 25px;
		margin-top: 0;
	}
	blockquote {
		margin: 0;
		padding: 0;
		border: none;
		font-size: inherit; 
		p {
			color: $zangmakers-rood !important;
			font-style: italic;
		}
	}
	.titel {
		border-bottom: 1px solid $grijs-licht;
		h2 {
			font-size: 18px;
			padding: 15px 25px;
			margin: 0;
			font-family: $primary-font;
			font-weight: 700;
			color: $grijs-donker;
			i {
				color: $zangmakers-rood;
			}
		}
	}
	.read-more {
		background-color: $zandkleur;
		font-family: $primary-font;
		font-weight: 700;
		.rechts {
			text-transform: none;
			color: $grijs-medium;
			font-weight: 300;
		}
		p {
			text-transform: uppercase;
			padding: 15px 25px !important;
			color: $grijs-donker;
			font-size: 14px;
			i {
				color: $zangmakers-rood;
			}
		}
	}
	ul {
		padding: 25px;
		color: $zeegroen;
		margin-bottom: 0px;
		li {
			padding: 15px 0;
			border-bottom: 1px solid $grijs-licht;
			&:last-child {
				border-bottom: none;
				padding-bottom:0px;
			}
			&:first-child {
				padding-top:0px;
			}
			span {
				color: $grijs-medium;
			}
		}
	}
	
}

/* Foto box */

.box-foto {
	background-color: $grijs-medium;
}

.videos {
	padding: 30px;
}

