/* Colors */

$black: #000000;
$white: #ffffff;

$grijs-donker: #666666;
$grijs-medium: #999999;
$grijs-licht: #eeeeee;
$grijs-groen: #e8eee9;


$zeegroen: #059C95;
$roze: #CD4196;
$paars: #6C3491;
$zandkleur: #FAF5E0;
$zand-licht: #faf9ed;
$groen: #3BB34A;
$geel: #FCE500;
$oranje: #F79D21;
$zangmakers-rood: #E1214B;


$primary-color: $black;
$secundary-color: $white;


/* Fonts */ 

$primary-font: 'Roboto';
$secondary-font: 'CubanoRegular';
