/* Z-thuis */

.z-thuis {
	header {
		margin-bottom: 0;
		background-color: $zand-licht;
		padding: 0 25px 25px 25px;
		position: relative;
		.overlay {
			position: absolute;
			top: 30px;
			h1 {
				color: $zangmakers-rood;
				margin-bottom: 15px;
			}
		}
	}
	.grijs-vlak {
		padding: 45px 0 15px 0;
		background-color: $grijs-groen;
		.box {
			padding: 25px;
			h1 {
				color: $zangmakers-rood;
				padding: 0;
			}
			p {
				padding: 0;
			}
		}	
	}
	.wit-vlak {
		padding: 45px 0 35px 0;
		background-color: $white;
		.box {
			img {
				margin-top: 25px;
			}
		}
	}
	.z-thuis-footer {
		text-align: center;
		padding:45px 0;
		ul {
			margin-bottom: 0;
			li {
				display: inline-block;
				padding-right: 30px;
				&:last-child {
					padding-right: 0;
				}
				a {
					font-family: $secondary-font;
					font-size: 20px;
					color: $zangmakers-rood;
				}
			}
		}
	}

	.box {
		img {
			&.padding {
				padding: 25px;
			}
		}
	}
	.inhoud-profiel {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}