/* Main Sass */


/*----------  RESET ----------*/

@import '_reset.scss';

/*----------  BOOTSTRAP ----------*/

@import '_bootstrap.min.scss';

/*----------  FONTS  ----------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import '_fonts.scss';

/*----------  VARIABLES ----------*/

@import '_variables.scss';

/*----------  GLOBAL ----------*/

@import '_global.scss';

/*----------  PAGES ----------*/

@import '_homepage.scss';
@import '_agenda.scss';
@import '_z-thuis.scss';

/*----------  ELEMENTS ----------*/

@import '_nav.scss';
@import '_footer.scss';
@import '_carousel';
@import '_buttons';

